# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other directories
target/
.idea/
*.p12
*.iml
.settings/
.setting/
.mvn/
.project/
helm/*/Chart.lock
helm/*/charts/
.DS_Store

# graphify folder ignore 
graphify-out/

# hide .claude folder
.claude/

# hide .cursor folder
.cursor/

# hide .vscode folder
.vscode/

# hide .idea folder
.idea/

# hide .settings folder
.settings/


# ====================
# esignet ignore files
# ====================
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other directories
target/
.idea/
*.p12
*.iml
.settings/
.setting/
.mvn/
.project/
helm/*/Chart.lock
helm/*/charts/

.DS_Store


# ====================
# frontend ignore files
# ====================

node_modules/
.next/
.nuxt/
.vscode/
.cursor/
.idea/
.settings/
.setting/
.project/
.lovable/


#=====================
# inji-certify ignore files
#=====================

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# other directories
target/
.idea/
*.p12
*.iml
.settings/
.setting/
.mvn/
.project/
helm/*/Chart.lock
helm/*/charts/
.DS_Store

# graphify folder ignore 
graphify-out/

# hide .claude folder
.claude/

# hide .cursor folder
.cursor/

# hide .vscode folder
.vscode/

# hide .idea folder
.idea/

# hide .settings folder
.settings/

# ====================
# inji-verify ignore files
# ====================

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea

/inji-verify/coverage

# dependencies
/inji-verify/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/target

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.metadata/

# ====================
# inji-wallet ignore files
# ====================

node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# @generated expo-cli sync-e7dcf75f4e856f7b6f3239b3f3a7dd614ee755a8
# The following patterns were generated by expo-cli

# Built application files
*.aab
android/app/debug/output-metadata.json
android/app/release/output-metadata.json

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log



# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# BUCK
buck-out/
\.buckd/

# Bundle artifacts
*.jsbundle


# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
# testing
/coverage
c
# OS X temporary files that should never be committed
.DS_Store
src/components/.DS_Store

# user personal info,for example debug info
ios/ProjectName.xcodeproj/project.xcworkspace/
ios/ProjectName.xcodeproj/xcuserdata

# Podfile versions
ios/Podfile.lock

# Expo
.expo/
web-build/
dist/

# @end expo-cli

.vscode/
temp/
.eslintcache
.env.local

.yalc/
yalc.lock

android/app/debug.keystore

# Expo
.expo
dist/
web-build/

# automation test results
# test reports generated after running test
injitest/report/
injitest/testng-report/
# logs from tests ran
injitest/src/logs/
# test case class files
injitest/target/

## Unit test
.jest/cache

## runtime bundles / assets
android/app/src/main/assets/faceModel.tflite

#======================
# inji web ignore files
#======================

.project
.idea
helm/inji-web/charts
helm/inji-web/Chart.lock
inji-web/node_modules
inji-web/build
inji-web/coverage


# <------ Done All Ignore Files ------->